ENV_FILE=.env
# ------------------------------------------------------------------------------
# PostgreSQL
# ------------------------------------------------------------------------------
DATABASE_URL=postgres://dbuser:RqSTuVWe_TrWEXazxswe_@postgres:5432/i69database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=i69database
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=RqSTuVWe_TrWEXazxswe_
# ------------------------------------------------------------------------------
# Redis v6.0.16
# ------------------------------------------------------------------------------
REDIS_HOST=redis
REDIS_USERNAME=i69_redis
REDIS_PASSWORD=y4pFPrDBeTLs6_ac
REDIS_PORT=6379
# ------------------------------------------------------------------------------
# Redis default
# ------------------------------------------------------------------------------
REDIS_URL=redis://i69_redis:y4pFPrDBeTLs6_ac@redis:6379/0
REDIS_DB=0
# ------------------------------------------------------------------------------
# Redis for Cache
# ------------------------------------------------------------------------------
REDIS_CACHE_URL=redis://i69_redis:y4pFPrDBeTLs6_ac@redis:6379/1
REDIS_CACHE_DB=1
# ------------------------------------------------------------------------------
# Redis channel backend
# ------------------------------------------------------------------------------
#REDIS_CHANNEL_BACKEND=redis://i69_redis:y4pFPrDBeTLs6_ac@127.0.0.1:6379/2
#REDIS_CHANNEL_DB=2
REDIS_CHANNEL_BACKEND={"address": "redis://redis:6379/", "password": "QgBRxEqfZ5Mc2sk4vja8_mHL3XnUbdpJ", "db": 2}
# ------------------------------------------------------------------------------
# Celery-Redis
# v5.2.2 - https://docs.celeryq.dev/en/v5.2.2/userguide/configuration.html
# ------------------------------------------------------------------------------
#BROKER_URL=redis://i69_redis:y4pFPrDBeTLs6_ac@redis:6379/3
CELERY_BROKER_URL=redis://i69_redis:y4pFPrDBeTLs6_ac@redis:6379/3
CELERY_RESULT_BACKEND=redis://i69_redis:y4pFPrDBeTLs6_ac@redis:6379/4
CELERY_RESULT_PERSISTENT=False
CELERY_ACCEPT_CONTENT=['application/json']
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=Europe/Paris

#Twillio Credentials for 2FA
OTP_TWILIO_ACCOUNT=
OTP_TWILIO_AUTH=
OTP_TWILIO_FROM=

# ------------------------------------------------------------------------------
# Django Secret Key
# ------------------------------------------------------------------------------
DJ_SECRET_KEY=

# ------------------------------------------------------------------------------
# Social Auth GOOGLE
# ------------------------------------------------------------------------------
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# ------------------------------------------------------------------------------
# Social Auth FACEBOOK
# ------------------------------------------------------------------------------
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=

# ------------------------------------------------------------------------------
# Social Auth TWITTER
# ------------------------------------------------------------------------------
SOCIAL_AUTH_TWITTER_KEY=
SOCIAL_AUTH_TWITTER_SECRET=
SOCIAL_AUTH_TWITTER_CALLBACK_URLS=

# ------------------------------------------------------------------------------
# PAYPAL RECEIVER EMAIL
# ------------------------------------------------------------------------------
PAYPAL_RECEIVER_EMAIL=

# ------------------------------------------------------------------------------
# ONESIGNAL API CREDENTIALS
# ------------------------------------------------------------------------------
ONESIGNAL_REST_API_KEY=
ONESIGNAL_APP_ID=

# ------------------------------------------------------------------------------
# FCM CREDENTIALS
# ------------------------------------------------------------------------------
FCM_API_KEY=


# ------------------------------------------------------------------------------
# BOKU CREDENTIALS
# ------------------------------------------------------------------------------
MERCHANT_ID=
MERCHANT_REFUND_ID=

# S3 Setting and Credentials
USE_S3=false
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
